html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background-color: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
.top{                   /* buton go to top */
    position: fixed;
    width: 50px;
    height: 50px;
    background: transparent;
    bottom: 40px;
    right: -500px;
    text-decoration: none;
    text-align: center;
    line-height: 50px; /* . */
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.top:hover{
    transform: translate(0, -5px);
    transition: .4s;
}
.top.active{
    right: 50px;
    visibility: visible;
    opacity: 1;
    transition: .4s;
}
header{
    position: fixed;
    top: 0;
    left: 270px;
    width: 70%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: header-load 8s;
    z-index: 99;       /* in caz ca se buguieste cand dai scroll si nu mai poate fi apasat*/
}
@keyframes header-load{
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0);
    }
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
    visibility: inherit; 
    opacity: 1; 
    color: #6200ff;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    height: 2rem;
    transition: color .4s ease-out;

}
header ul li a:hover{
    color: #6200ff;
}
header ul li a.x{
    color: #fcfcfc57;
}
header ul li a.x:hover{
    color: #6200ff;
    transition: color .4s ease-out;
}
.bg{   
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    overflow: auto;
    transform: scale();
    
}
.intro h2{
    position: absolute;
    top: 50%;
    left: 25%;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    animation: h1-load 4s;
}
@keyframes h1-load{
    0%{
        transform: translateX(-500%);
    }

    100%{
        transform: translateY(0);
    }
}
.intro span{
    color: #6200ff;
}
.std .-purple{
    position: absolute;
    top: 56.5%;
    left: 25%;
    padding-top: 5px;
    color: #6200ff;
    font-size: 1.4em;
    animation: -purple-load 4s;
}
@keyframes -purple-load{
    0%{
        transform: translateX(-1000%);
    }
    100%{
        transform: translateY(0);
    }
}
.std .-gray{
    color: #dbdbdb88;
    position: absolute;
    top: 61%;
    left: 25%;
    padding-top: 15px;
    font-size: 1.4em;
    animation: -purple-load 4s;
}
.spine{
    position: fixed;
    top: 555px;
    bottom: 0;
    left: calc(25vw - 2rem);
    width: 1px;
    background: #6200ff;
    animation: spine-load 4s;
}
.spine2{
    position: fixed;
    top: 435px;
    bottom: 0;
    left: 650px;
    width: 1px;
    background: #6200ff;
    animation: spine-load2 4s;
}
.spine2 .spine-target2{
    position: fixed;
    z-index: 2;
}
.spine2 .circle2{
    position: absolute;
    top: -2vh;
    left: -1.4vh;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 12px;
    /* background-color: #6200ff; */

    box-shadow: 0 0 0 0 rgba(98, 0, 255);
    background: rgba(98, 0, 255);
    transform: scale(1);
    animation: circle-pulse 2s;
    animation-delay: 4s;

}
@keyframes spine-load{
    0%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes spine-load2{
    0%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0);
    }
}
.spine .spine-target{
    position: fixed;
    z-index: 2;
}
.spine .circle{
    position: absolute;
    top: -2vh;
    left: -1.4vh;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 12px;
    /* background-color: #6200ff; */

    box-shadow: 0 0 0 0 rgba(98, 0, 255);
    background: rgba(98, 0, 255);
    transform: scale(1);
    animation: circle-pulse 2s;
    animation-delay: 4s;

}
@keyframes circle-pulse{
    0%{
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(98, 0, 255, 0.7);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(98, 0, 255, 0);
    }
    100%{
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(98, 0, 255, 0);
    }

}
.gap{
    height: 65vh;
}
.sticky{
  padding: 3em;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}
.sticky h1{
    position: absolute;
    top: 50%;
    left: 25%;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}
.sticky span{
    color: #6200ff;
}
.sticky2{
    padding: 3em;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}
.sticky2 h1{
    position: absolute;
    top: 50%;
    left: 25%;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}
.sticky2 span{
    color: #6200ff;
    letter-spacing: normal;
    font-weight: bold;
}
.sticky3{
    padding: 3em;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}
.sticky3 h5{
    position: absolute;
    top: 50%;
    left: 25%;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -15px;
}
.sticky3 span{
    color: #6200ff;
    letter-spacing: normal;
    padding-left: 8px;
}
.-grayy{
    color: #dbdbdb88;
    position: absolute;
    top: 55%;
    left: 25%;
    padding-top: 15px;
    font-size: 1.4em;
    text-transform: uppercase;
    padding-top: 12px;
}
.-grayy span{
    color: #dbdbdb46;
    left: 5px;
}
.percentage {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.scrolled{
    display: block !important;
}
.noScroll
{
    /* background: yellow;
    position:fixed;
    height: 50px; /*Whatever you want*
    width: 100%; /*Whatever you want
    top:0;
    left:0;
    display:none; */
    position: fixed;
    display: none;
    top: 55px;
    bottom: 0;
    left: calc(25vw - 2rem);
    width: 1px;
    background: #6200ff;
    transition: opacity 5s;
    opacity: 0.3;

}
.noScroll2
{
    position: fixed;
    display: none;
    top: 55px;
    bottom: 0;
    left: 650px;
    width: 1px;
    background: #6200ff;
    transition: opacity 5s;
    opacity: 0.3;

}
.-gray2{
    color: #dbdbdb88;
    position: absolute;
    top: 55%;
    left: 25%;
    padding-top: 15px;
    font-size: 1.4em;
}
@media(max-width: 700px){
    header{
        top: 0;
        left: 0px;
        width: 10%;
        padding: 10px 60px;
    }
    header .logo{
        color: #fff;
        font-weight: 100;
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: 1px;
        visibility: inherit; 
        opacity: 1; 
        color: #6200ff;
        display: none;
    }
    header ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header ul li{
        list-style: none;
        margin-left: -13px;
    }
    header ul li a{
        text-decoration: none;
        padding: 2px 15px;
        color: rgb(255, 255, 255);
        height: 2rem;
        transition: color .4s ease-out;
    
    }
    header ul li a:hover{
        color: #6200ff;
    }
    header ul li a.x{
        color: #fcfcfc57;
    }
    header ul li a.x:hover{
        color: #6200ff;
        transition: color .4s ease-out;
    }
    .intro h2{
        position: absolute;
        top: 50%;
        left: 20%;
        color: #fff;
        font-size: 2.3em;
        font-weight: bold;
    }
    .intro span{
        color: #6200ff;
    }
    .std .-purple{
        position: absolute;
        top: 56.5%;
        left: 20%;
        padding-top: 5px;
        color: #6200ff;
        font-size: 1em;
    }
    .std .-gray{
        color: #dbdbdb88;
        position: absolute;
        top: 61%;
        left: 20%;
        padding-top: 15px;
        font-size: 1em;
    }
    .-gray2{
    color: #dbdbdb88;
    position: absolute;
    top: 55%;
    left: 20%;
    padding-top: 15px;
    font-size: 1em;
    }
    .sticky h1{
        position: absolute;
        line-height: 1.5em;
        height: 2em;
        top: 50%;
        left: 20%;
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    .sticky span{
        color: #6200ff;
    }
    .spine .circle{
        position: absolute;
        top: -2vh;
        left: -2.2vh;
        width: 10px;
        height: 10px;
        margin: 10px;
        border-radius: 12px;
        background-color: #6200ff;
    }
    .spine{
        position: fixed;
        top: 355px;
        bottom: 0;
        left: calc(25vw - 2rem);
        width: 1px;
        background: #6200ff;
    }
    .sticky2 h1{
        font-size: 2.3em;
    }
    .sticky3 h5{
        font-size: 2.3em;
    }
    .bck{
        display: none;
    }
    .spine2 .circle2{
        position: absolute;
        top: -2vh;
        left: -2.2vh;
        width: 10px;
        height: 10px;
        margin: 10px;
        border-radius: 12px;
        background-color: #6200ff;
    }
    .spine2{
        position: fixed;
        top: 355px;
        bottom: 0;
        left: calc(25vw - 2rem);
        width: 1px;
        background: #6200ff;
    }
    .work2 h1{
        position: absolute;
        top: 40%;
        left: -15%;
        color: #fff;
        font-size: 3em;
        font-weight: bold;
    }
    .work2 span{
        position: absolute;
        top: 57%;
        left: 35%;
        color: #6200ff;
        font-size: 1em;
    }
    .work2 p{
        position: absolute;
        top: 63%;
        left: 35%;
        color: #dbdbdb;
        font-size: 1em;
    }
}
.nush h1{
    position: absolute;
    top: 600%;
    left: 470px;
    color: #b4b4b4;
}
.nush p{
    position: absolute;
    top: 610%;
    left: 470px;
    color: #6200ff;
}
.bck{
    min-height: 100vh;
    width: 40%;
    background-image: url(Myhnea_NaVi.png);
    background-position: center;
    background-size: cover;
    position: fixed;
    left: -100px;
}
.work h1{
    position: absolute;
    top: 40%;
    left: 35%;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    animation: h1-load2 4s;
}
@keyframes h1-load2{
    0%{
        transform: translateX(-300%);
    }

    100%{
        transform: translateY(0);
    }
}
.work span{
    position: absolute;
    top: 57%;
    left: 35%;
    color: #6200ff;
    font-size: 1em;
}
.work p{
    position: absolute;
    top: 63%;
    left: 35%;
    color: #dbdbdb;
    font-size: 1em;
}
.work2 h1{
    position: absolute;
    top: 50%;
    left: 20%;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}
.work2 span{
    position: absolute;
    top: 60%;
    left: 20%;
    color: #6200ff;
    font-size: 1em;
}
.work2 p{
    position: absolute;
    top: 65%;
    left: 20%;
    color: #dbdbdb;
    font-size: 1em;
}

